
/*Fonte da Roboto 
Regular 400 Medium 500 Bold 700 Black 900*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*/

/*Realizado a importação via css para poder alterar a fonte pq via index não acata*/
@import url('../css/bootstrap.min.css');


body{
    font-family: 'Roboto', sans-serif;
}

/*Fundo transparente do nav e do portfolio*/
.navbar {
    background-color: rgba(0,0,1,0.6);
}

/*Cor no titulo do nav*/
.navbar a{
    color: #ffffff;
}

/*Espaçamento de letras no nav que não ha classe para essa função no bootstrap*/
.nav-item a{
    letter-spacing: 0.05em;
}

/*Fim do icone do menu responsivo*/
header h1{
    font-size: calc(100% + 1.25vw);
    text-shadow: 0.05em 0.05em 0.15em black;
}

/*Cor body*/
.bg-black{
    background: #000;
}

/*Auto ajuste para o titulos dos cards do serviços*/
.card-header {
    font-size: calc(78% + 0.1vw);
}

/*Auto ajuste para o texto dos cards do serviços*/
.card-body p{
    font-size: calc(88% + 0.1vw);
}

/*Auto ajuste para o legendas dos cards do portfolio*/
.ratio h6{
    font-size: calc(80% + 0.1vw);
}

/*Redimensionamento do texto para 320px acima*/
footer ul{
    font-size: calc(83% + 0.01vw);
}

/*Efeito de lentidão na volta do efeito*/
.box, .box2{
    transition: all linear 0.4s;
}

/*Efeitos de animação do hover*/
.box:hover{
    transform: translateY(-15px);
    cursor: pointer;   
}

/*Efeito de zoom no portfolio*/
.box2:hover{
    transition: all linear 0.5s;
    cursor: pointer;
    /*efeito do zoom*/
    transform: scale(1.2);
    z-index: 1;
}

/*Faz o icone ficar piscando*/
@keyframes fa-blink {
    100% { opacity: 0; }
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

/*///Icone de pré carregamento da pagina e adcionado um js para desativação\\\*/

#loader{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#load {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFC107;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#load:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFC107;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#load:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFC107;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
